aside {
  display: flex;
  flex-direction: column;
  padding: 160px 48px 0 32px;
}

aside a {
  width: 232px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 32px;
  color: #4B4B4B;
  text-decoration: none;
}

aside a.disable {
  color: #4B4B4B90;
  cursor: not-allowed;
}
aside a.active {
  background-color: #068AFF;
  color: white;
}

aside a.active:hover {
  color: white;
  background-color: #068AFFEE;
}

