.student-card {
  cursor: pointer;
  position: relative;
  background-color: #F3F3F3;
  padding: 32px 32px;
  border-radius: 16px;
  margin-bottom: 32px;
}

.student-card .student-graph {
  max-width: 1000px;
  height: 80px;
  display: flex;
  align-items: end;
  padding-left: 80px;
  box-sizing: border-box;
}
.student-card .student-graph .bar {
  width: 10px;
}
.student-card .student-graph .bar-top {
  height: 100%;
  background: #068AFF;
}

.student-card .student-graph .bar-bottom {
  height: 30%;
  background: #FF8C00;
}

.attendance-label {
  position: absolute;
  width: 100px;
  line-height: 36px;
  border-radius: 28px;
  background-color: #D2F0FF;
  right: 16px;
  top: 16px;
  display: inline-block;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.attendance-label.run {
  background-color: #FEE6C9;
}
.attendance-label.disappear {
  background-color: #FFD9D9;
}

.div-name {
  display: inline-block;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}