.student-detail-wrapper h2 {
  margin-bottom: 48px;
}
.student-detail-wrapper h2 .span-name {
  font-size: 24px;
  color: #068AFF;
  font-weight: 700;
}
.student-detail-wrapper h2 .span-subtitle {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  margin-left: 8px;
}

.student-detail-wrapper .status-wrapper {
  padding: 32px 32px;
  margin-bottom: 48px;
  background-color: #F3F3F3;
  border-radius: 28px;
}

.student-detail-wrapper .status-wrapper h3 {
  font-size: 24px;
  font-weight: 400;
}
.student-detail-wrapper .status-wrapper p {
  font-size: 36px;
  font-weight: 400;
  padding: 32px;
  text-align: center;
}
.student-detail-wrapper .status-wrapper p i {
  font-size: 40px;
  font-weight: 700;
}
.student-detail-wrapper .status-wrapper p i.ATTEND {
  color: #068AFF;
}
.student-detail-wrapper .status-wrapper p i.ABSENT {
  color: #CF0000;
}
.student-detail-wrapper .status-wrapper p i.LEAVE {
  color: #FF8C00;
}
.student-detail-wrapper .status-wrapper p i.FAKE {
  color: #FF8C00;
}
.student-detail-wrapper .status-wrapper p i.BLUE {
  color: #068AFF;
}
.student-detail-wrapper .status-wrapper p i.RED {
  color: #CF0000;
}